<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App Chat</title>
</head>
<body>
    <h1>Thanh</h1>
    <input type="text" placeholder="Input your message" id="txtMessage">
    <button id="btnSend">Send</button>
    <div id="divContent"></div>
</body>
</html>
<script src="jquery.js"></script>
<script src="reload/reload.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="chat.js"></script>